.vegan {
    background-color: orange;
    border-radius: 10px;
    border: 1px solid orange;
    padding-left: 8px;
    padding-right: 8px;
    margin: 5px;
}

.vegetarian {
    background-color: teal;
    border-radius: 10px;
    border: 1px solid teal;
    padding-left: 8px;
    padding-right: 8px;
    margin: 5px;
}

.hidden{
    display: none;
}

/* #favoriteButton{
    width: 4px;
    height: 4px;
} */

.favoriteButton > i{
    pointer-events: none;
}

.no-pointer{
    pointer-events: none;
}

#search-forms{
    margin-top: 15px;
    z-index: 3;
    /* background-color: #E6BDC5; */
    /* background-color: #FFFDE3; */
    background-color: #D4E5FF;
    padding: 10px;
}

#converter-form{
    margin-top: 15px;
    z-index: 3;
    /* background-color: #E6BDC5; */
    background-color: #D4E5FF;
    padding: 10px;
}

.form-border {
    box-sizing: border-box;
}

#form-spacer{
    margin: 5%;
}

@media (max-width: 1250px){
    #form-spacer{
        display: none;
    }
}

@media (min-width: 1250px){
    .side-by-side{
        float: left;
    }
}

#tickmarks{
    margin: 5px;
}

.rated-by{
    font-style: italic;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    text-align: center;
    font-size: 0.75 rem;
    /* background-color: #dedede; */
    margin: auto;
    padding: 10px;
}

footer{
    margin-top: 5px;
}

/* #content{
    background-color: #b87455;
    height: 100%;
    display: table;
} */
/* .container-fluid, html{
    background-color:  #b87455;
} */

.italicize{
    font-style: italic;
}

#favoriteButton, #ratingForm{
    display: inline;
    margin: 5px;
}

.foodImg{
    width: 65%;
}