.vegan {
    background-color: orange;
    border-radius: 10px;
    border: 1px solid orange;
    padding-left: 8px;
    padding-right: 8px;
}

.vegetarian {
    background-color: teal;
    border-radius: 10px;
    border: 1px solid teal;
    padding-left: 8px;
    padding-right: 8px;
    margin: 8px;
}

.hidden{
    display: none;
}

/* #favoriteButton{
    width: 4px;
    height: 4px;
} */

.favoriteButton > i{
    pointer-events: none;
}

.no-pointer{
    pointer-events: none;
}

#search-forms{
    margin-top: 15px;
    z-index: 3;
    /* background-color: #E6BDC5; */
    background-color: #FFFDE3;
    padding: 10px;
}

#converter-form{
    margin-top: 15px;
    z-index: 3;
    /* background-color: #E6BDC5; */
    background-color: #D4E5FF;
    padding: 10px;
}

.form-border {
    box-sizing: border-box;
}

#form-spacer{
    margin: 5%;
}

@media (max-width: 1250px){
    #form-spacer{
        display: none;
    }
}

@media (min-width: 1250px){
    .side-by-side{
        float: left;
    }
}
