{% extends 'base.html' %}
{% block title %}Search: {{ search_term }}{% endblock %}

{% block content %}
<h2>Search: {{ search_term }}</h2>
<ul>
    {% for recipe in recipe_list %}
        <li id="{{recipe.api_id}}"><a class="title" href={{recipe.recipe_url}} target="_blank">{{ recipe.name }}</a>
        {% if recipe.vegetarian %}
            <span class="vegetarian">Vegetarian</span>
        {% endif %}
        {% if recipe.vegan %}
            <span class="vegan">Vegan</span>
        {% endif %}
        <button class="favoriteButton"></button><br>
        <span>
            <form action='/ratings/{{recipe.api_id}}'><button class="rateRecipe">Rate this recipe</button></form>
        </span>
        <img src={{recipe.image_url}}>
        </li>
    {% endfor %}
</ul>
{% endblock %}