<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html">
    <title>{% block title %}Document{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/stylesheets/food_boostrap.css">
</head>

<body style="background-color:#FFFAE0">

<nav class="navbar navbar-expand-lg navbar-light bg-secondary shadow-sm">
    <a class="navbar-brand" href="/">Use My Food
        <img src="/static/favicon.ico" class="d-inline">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if request.endpoint != None %}
            <li></li>
            {% endif %}

            {% if g.user %}
            <li class="nav-item active">
                <a class="nav-link" href="/">Search by Ingredient</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/users/{{ g.user.id }}/ratings">My Ratings</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/users/{{ g.user.id }}/favorites">Favorites</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/converter">Converter</a>
            </li>

            <form class="form-inline my-2 my-lg-0" action="/search" method="POST" role="form" id="search-by-recipe">
                <input class="form-control mr-sm-2" type="text" placeholder="Search recipe name" aria-label="Search recipes by name" id="search-term" name="searchRecipeTerm">
                <button class="btn btn-outline-dark my-2 my-sm-0 Submit" type="submit" href="#">Search</button>
            </form>

            {% endif %}
        </ul>

        <ul class="navbar-nav ml-auto">
            {% if not g.user %}
                <li class="nav-item active">
                    <a class="nav-link" href="/signup">Signup</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="login" href="/login">Login</a>
                </li>
            {% endif %}

            {% if g.user %}
                <li class="nav-item active">
                    <a class="nav-link text-muted" href="/users/{{ g.user.id }}">Delete Account</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-muted" href="/logout">Logout</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container-fluid h-100%" id="content">
    {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}

    <div id="content-wrap">
        {% block content %}

        {% endblock %}
    </div>
    <br>
    
    <div class="text-muted bg-secondary" id="footer">
        <span>Data gathered from the <a href="https://spoonacular.com/food-api" target="_blank">Spoonacular
                API</a></span>
    </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="/static/app.js" type="text/javascript"></script>
</body>
</html>