{% extends 'base.html' %}
{% block title %}Use My Food{% endblock %}

{% block content %}

<form id="search-by-ingredient">
    <label for="searchIngredients">Search for recipes by ingredient(s) <em>(separate multiple ingredients with a comma and space):</em></label>
    <br>
    <textarea id="searchIngredients" placeholder="Ex. Onion, bell pepper" name="searchIngredients"></textarea> 
    <br>
    <span>Number or recipes to choose from:</span>
    <label id="recipeRadio" class="radio-inline"><input type="radio" name="optradio" checked value="1">1</label>
    <label id="recipeRadio" class="radio-inline"><input type="radio" name="optradio" value="3">3</label>
    <label id="recipeRadio" class="radio-inline"><input type="radio" name="optradio" value="10">10</label>
    <br>
    <button type="submit">Search</button>
</form>
<div class="container">
    <ul id="recipeList">
    </ul>
</div>
{% endblock %}