{% extends 'base.html' %}
{% block title %}Use My Food{% endblock %}

{% block content %}

{% if g.user %}
<div class="row justify-content-center">
    <div class="col-2"></div>
    <div class="col-8 shadow" id="search-forms">
        <div class="w-45 side-by-side">
        <form id="search-by-ingredient">
            <div class="form-group">
                <label for="searchIngredients">Search for recipes by ingredient(s):</label>
                <br>
                <small class="text-muted"><em>Separate multiple ingredients with a comma and space:</em></small>
                <br>
                <textarea id="searchIngredients" placeholder="Ex. Onion, bell pepper" name="searchIngredients" class="form-control"></textarea> 
                <br>   
            </div>
        </form> 
        </div>  
        <div class="w-5 side-by-side" id="form-spacer"></div>
        <div class="w-45 side-by-side">
        <span>Number or recipes to choose from:</span>
        <form id="num-recipes">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="optradio" id="recipeRadio1" value="1">
                <label class="form-check-label" for="recipeRadio1">
                    1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="optradio" id="recipeRadio2" value="3">
                <label class="form-check-label" for="recipeRadio2">
                    3
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="optradio" id="recipeRadio3" value="5">
                <label class="form-check-label" for="recipeRadio3">
                    5
                </label>
            </div>
        </form>
        <button id="search-for-recipes" class="btn btn-primary">Search</button>
        </div>
    </div>
    <div class="col-2"></div>
{% endif %}
</div>
<br>

<div id="recipes-from-search" class="row justify-content-center">
    <ul id="recipeList">
    </ul>
</div>

{% endblock %}