{% extends 'base.html' %}
{% block title %}{{ user.username }}'s Favorites{% endblock %}

{% block content %}
<h2>{{user.username}}'s Favorites:</h2>

    <ul>
        {% for favorite in favorites %}
        <li id="{{favorite.recipe.api_id}}"><a class="title" href={{ favorite.recipe.recipe_url }} target="_blank">{{ favorite.recipe.name }}</a>

            {% if favorite.recipe.vegetarian %}
                <span class="vegetarian">Vegetarian</span>
            {% endif %}

            {% if favorite.recipe.vegan %}
                <span class="vegan">Vegan</span>
            {% endif %}

            <button class="favoriteButton favoritePage"></button>
            <form action='/ratings/rate' method="GET" class="rateButton">
                <input class="hidden" value={{favorite.recipe.api_id}} type="number" name="api_id">
                <button>Rate this recipe</button>
            </form>

            {% if favorite.id in has_ratings %}
                <form class="viewRatingForm" action='/ratings'><button class='viewRatingsForm' name='api_id'
                    value={{favorite.recipe.api_id}}>View this recipe's ratings</button></form>
            {% endif %}

            {% for rating in user.ratings %}
                {% if rating.recipe_id == favorite.recipe_id %}
                <form action='/ratings/edit' method="GET" class="editRatingForm">
                    <input class="hidden" value={{rating.id}} type="number" name="rating_id">
                    <button>Edit your rating</button>
                </form>
                {% endif %}
            {% endfor %}

            <br>
            <div class="recipeImage">
                <img src={{ favorite.recipe.image_url }} class="fav-recipe">
            </div>
        </li>
        <br>
        {% endfor %}
    </ul>

{% endblock %}