{% extends 'base.html' %}
{% block title %}{{ user.username }}'s Ratings{% endblock %}

{% block content %}
<h2>{{user.username}}'s Ratings:</h2>

    <ul>
        {% for recipe in recipes %}
            <li id="{{recipe.api_id}}"><a class="title" href={{ recipe.recipe_url }}
            target="_blank">{{ recipe.name }}</a>

            {% if recipe.vegetarian %}
                <span class="vegetarian">Vegetarian</span>
            {% endif %}

            {% if recipe.vegan %}
                <span class="vegan">Vegan</span>
            {% endif %}

            <button class="favoriteButton"></button>
            <br>
            {% for rating in recipe.ratings %}
                {% if rating.user_id == user.id %}
                    <small class="text-muted">My rating: {{rating.rating}}, {{rating.review}}</small>
                    <form action='/ratings/edit' method="GET"><input class="hidden" value={{rating.id}} type="number" name="rating_id"><button class="editRating">Edit your rating</button></form>
                {% endif %}
            {% endfor %}

            <form class="viewRatingForm" action='/ratings'><button class='viewRatingsForm' name='api_id'
                    value={{recipe.api_id}}>View this recipe's ratings</button></form>
            <br>

            <div class="recipeImage">
                <img src={{ recipe.image_url }} class="fav-recipe">
            </div>

            </li>
            <br>
        {% endfor %}
</ul>
{% endblock %}