{% extends 'base.html' %}
{% block title %}Rate {{recipe.name}}{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <h2>Rate: <a href={{recipe.recipe_url}} target="_blank">{{recipe.name}}</a></h2>
</div>

<div class="d-flex justify-content-center">
    <img class="recipeImage img-fluid mw-85" src={{recipe.image_url}} alt="{{recipe.name}}">
</div>

<br><br>
<div class="d-flex justify-content-center">
<form method="POST" id="recipe_review" action="/ratings/add_rating" class="align-center">
    <input type="range" value="3.0" min="1.0" max="5.0" step="0.5" oninput="this.nextElementSibling.value = this.value" name="rating" id="rating">
    <output id="rangeOutput"></output>

    <br>
    <br>
    <textarea id="review" rows="5" cols="40" placeholder="Write a review" name="review"></textarea>
    <input class="hidden" value={{recipe.id}} name="recipe_id">
    <button class="btn btn-primary btn-lg btn-block">Submit</button>
</form>
</div>
{% endblock %}


